<header>
  <div class="rebel-box">
    <h1>Atenção! Você está no território da aliança rebelde!</h1>
    <p class="form-checkbox">Identifique-se!</p>
  </div>
</header>

<div class="container">
  <section class="rebel-form-wrapper">
    <div class="row">
      <div class="col s10 l8 offset-s1 offset-l2">

        <form class="rebel-form">
          <div class="card">
            <div class="top-card"></div>
            <div class="card-content">

              <h2 class="header">Formulário de reconhecimento</h2>

              <div class="input-field">
                <input type="text" id="tolkien" class="validate" ng-model="fhinck.form.tolken" required>
                <label class="active" 
                  for="tolkien" 
                  data-error="Chave inválida" >
                  Chave_FHK_J_R_R_Tolken
                </label>
              </div>

              <h2 class="rebel-form-divider">Dados do piloto</h2>
                
              <div class="input-field">
                <input id="email" type="email" class="validate" ng-model="fhinck.form.email" required>
                <label class="active" for="email" data-error="Email inválido">Email</label>
              </div>

              <div class="input-field">
                <input id="name" type="text" class="validate" ng-model="fhinck.form.name" required>
                <label for="name" class="active">Nome</label>
              </div>

              <div class="input-field">
                <select>
                  <option value="{{planet.id}}" 
                    ng-repeat="planet in fhinck.planets track by $index">
                    {{planet.name}}
                  </option>
                </select>
                <label>A qual planeta você pertence?</label>
              </div>

              <h2 class="rebel-form-divider">Dados da aterrissagem</h2>

              <div class="input-field">
                <select>
                  <option value="ship.id" 
                    ng-repeat="ship in fhinck.ships track by $index">
                    {{ship.name}}
                  </option>
                </select>
                <label>Qual nave você está pilotando?</label>
                <div class="nave-img">
                  <img class="responsive-img" src="../resources/img/Starbasecarida.jpg" alt="">
                </div>
              </div>

              <div class="checkbox-wrapper">
                <label class="check-label">Do que você necessita?</label>
                <p class="form-checkbox">
                  <input type="checkbox" class="filled-in" id="fuel">
                  <label for="fuel">Abastecimento/Combustível</label>
                </p>

                <p class="form-checkbox">
                  <input type="checkbox" class="filled-in" id="unship">
                  <label for="unship">Descarregar carga</label>
                </p>

                <p class="form-checkbox">
                  <input type="checkbox" class="filled-in" id="eletric-maintenance">
                  <label for="eletric-maintenance">Manutenção elétrica/eletrônica</label>
                </p>

                <p class="form-checkbox">
                  <input type="checkbox" class="filled-in" id="machanic-maintenance">
                  <label for="machanic-maintenance">Manutenção mecânica</label>
                </p>

                <p class="form-checkbox">
                  <input type="checkbox" class="filled-in" id="thrusters-maintenance">
                  <label for="thrusters-maintenance">Manutenção de propulsores</label>
                </p>

                <p class="form-checkbox">
                  <input type="checkbox" class="filled-in" id="system-validation">
                  <label for="system-validation">Verificação de sistemas</label>
                </p>

                <p class="form-checkbox">
                  <input type="checkbox" class="filled-in" id="ship cleaning">
                  <label for="ship cleaning">Limpeza da aeronave</label>
                </p>
              </div>

              <div class="row">
                <div class="col s6">
                  <div class="input-field">
                    <input id="arrival-date" 
                      type="text" 
                      class="datepicker" 
                      ng-model="fhinck.arrivalDate" ng-change="fhinck.dataMudou()" required>
                    <label for="arrival-date">Data chegada</label>
                  </div>
                </div>
                <div class="col s6">

                  <div class="input-field">
                    <input id="departure-date" type="text" class="datepicker validate" required>
                    <label for="departure-date">Data saída</label>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col s6">
                  <div class="input-field">
                    <input id="arrival-time" 
                      type="text" 
                      class="timepicker validate" 
                      ng-model="fhinck.arrivalTime" oninput="fhinck.dataMudou()" required>
                    <label for="arrival-time">Hora chegada</label>
                  </div>
                </div>
                <div class="col s6">
                  <div class="input-field">
                    <input id="departure-time" type="text" class="timepicker validate" required>
                    <label for="departure-time">Hora saída</label>
                  </div>

                </div>
              </div>
              
              <h2 class="rebel-form-divider">Identificação</h2>

              <div class="row">
                <div class="col s6 left-align">
                  <button type="button" class="btn fhinck-btn">Selfie</button>
                </div>
                <div class="col s6 right-align">
                  <button class="btn fhinck-btn">Solicitar Autorização</button>
                </div>
              </div>
              

            </div>
          </div>

        </form>

      </div>
    </div>
    
  </section>
</div>
