/* app css stylesheet */


/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

html, body{
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  color: #555;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/* label color */
.input-field label {
  color: #555;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #555;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #F79633;
  box-shadow: 0 1px 0 0 #F79633;
}

.input-field input[type=email]:focus + label {
  color: #555;
}
/* label underline focus color */
.input-field input[type=email]:focus {
  border-bottom: 1px solid #F79633;
  box-shadow: 0 1px 0 0 #F79633;
}

input[type="checkbox"].filled-in:checked+label:after{
  border-color: #F79633;
  background-color: #F79633;
}

.dropdown-content li>a, .dropdown-content li>span{
  color: #F79633;
}

.check-label{
  position: static !important;
  font-size: 1rem;
}

.fhinck-btn{
  background-color: #F79633;
}

.fhinck-btn:hover, .fhinck-btn:focus{
  background-color: #FFB04D;
}

/* -------------------HEADINGS-------------------- */

h1, h2{
  font-size: 200%;
  margin-bottom: 40px;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */

.rebel-form-divider{
  font-size: 160%;
  margin-bottom: 30px;
  margin-top: 40px;
}



/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(resources/img/space-station.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.rebel-box{
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rebel-box h1 {
  text-align: center;
  color: #f5f5f5;
}

.rebel-box p {
  color: #F79633;
  font-size: 240%;
  text-align: center;
}

/* ----------------------------------------------- */
/* BODY */
/* ----------------------------------------------- */

.top-card {
  height: 8px;
  background-color: #F79633;
}

.checkbox-wrapper{
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.checkbox-wrapper p.form-checkbox{
  margin: 15px 0px 10px;
}